$primaryColor: rgb(1, 228, 133);
*{
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
}

a,p,li{
    font-size:1.6rem;
}

h3{
    font-size:2rem !important;
}

h2{
    font-size:4rem !important;
}

h1{
    font-size:6rem !important;
}